@CHARSET "ISO-8859-1";
body{
	background-color:#E6E6E6;
	font-family: ariel, serif;
}
.logo{
text-align: center;


}
.t1{
	font-size: 50 px;
	text-align: center;
	margin-top: 200 px; 
	
}