<?xml version="1.0" encoding="UTF-8"?>
<web-app id="tomcat-demo" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>ChartServletBP</servlet-name>
		<servlet-class>chart.ChartServletBP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChartServletBP</servlet-name>
		<url-pattern>/chartBP/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChartServletTree</servlet-name>
		<servlet-class>chart.ChartServletTree</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChartServletTree</servlet-name>
		<url-pattern>/chartTree/*</url-pattern>
	</servlet-mapping>
	
	
	
	
	

</web-app>
